.button {
  background: none;
  border: none;
  outline: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.6rem;
  color: var(--text-color);
}

.button:not(.disabled):hover {
  background: var(--active-color);;
}

.button.disabled {
  cursor: not-allowed;
}