.ecommerceContainer header {
  font-size: 1.4rem;
  font-weight: 600;
}

.ecommerceContainer .sections {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  padding: 1.6rem 0;
}

.ecommerceContainer section {
  display: flex;
  justify-content: space-between;
  gap: 2.8rem;
}

.ecommerceContainer section .infoCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.8rem;
}

.ecommerceContainer .barGraph {
  flex: 1;
}