.tableWrapper {
  height: calc(100vh - 20rem);
  overflow: scroll;
}

.user, .status, .date  {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user img {
  border-radius: 50%;
}

.status .dot {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}
