.contactsContainer {

}

.contactsContainer header {
  padding: 0.8rem 0.4rem 0.8rem 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.contactsContainer .contacts {
  padding: 0.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.contactsContainer .contacts .contact {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.contactsContainer .contacts .contact img {
  border-radius: 50%;
}

.contactsContainer .contacts .contact span {
  font-size: 1.4rem;
  max-width: 20rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
